name: Acceptance Tests

on:
  push:
    # tags-ignore:
    #   - "v*"
    paths:
      - "**.go"
      - go.mod
      - ".github/workflows/testacc.yaml"
  pull_request:
    types: ["opened", "synchronize"]
    paths:
      - "**.go"
      - go.mod
      - ".github/workflows/testacc.yaml"
  # allow this workflow to be called from other workflows
  workflow_call:

env:
  GOPROXY: https://proxy.golang.org,direct
  DEBIAN_FRONTEND: noninteractive
  GO_VERSION: "1.20"
  TERRAFORM_VERSION: "1.4.2"

jobs:
  testacc:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false
      - name: Run acceptance tests
        run: make testacc
